/* .content{
    color: blueviolet;
}

.newClass{
    background-color: darkgreen;
} */

 div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    color: black;
    border: 1px solid black;
} 

.dark {
    background-color: dimgrey;
    color: white;

}

.light{
    background-color: white;
    color: black;


}